dash_core_components==2.0.0
dash_html_components==2.0.0
dash==2.3.0
dash_bootstrap_components==1.0.3
dash_table==5.0.0
black==22.1.0
numpy==1.22.3
pandas==1.4.1
pre-commit==2.17.0
requests==2.27.1
-e ./data_fetcher/